body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.header {
  background-image: url(../images/banner/banner1.png);
  background-size: cover;
  height: 800px;
  padding: 0.1px;
}
.header-content {
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  align-items: flex-end;
}
.header-content h1 {
  font-size: 65px;
  font-weight: 700;
  color: black;
  margin-bottom: 10px;
  text-align: end;
  margin-top: 200px;
}
.header-content p {
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  color: black;
  margin-bottom: 20px;
}
.header-btn {
  background: #f15b22;
  border-radius: 5px;
  border: 0;
  font-weight: 600;
  font-size: 20px;
  text-align: right;
  color: #ffffff;
  padding: 20px 25px;
}

/* person part */
span {
  width: 24px;
  height: 24px;
  color: green;
}
.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 132px;
}
.person-content h2 {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}
.person-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
}
/* My plans sectoin */

.my-plans {
  margin-left: 10%;
  margin-right: 10%;
}
.my-plans h1 {
  font-weight: 702;
  color: black;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}
.singlePlan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.singlePlan p {
  font-weight: 702;
  color: black;
  font-size: 31px;
  margin-bottom: 11px;
}
.singlePlan small {
  color: #737272;
}
/* gradient part */
.image-gradient{
  margin-top: 50px;
  margin-bottom: 50px;
  background-image:linear-gradient(to left, rgba(244, 247, 252, 0.51), rgba(118, 21, 92, 0.73)), url("../images/watch.png");
  height: 350px;
  width:80%;
  margin-left: 10%;
  margin-right: 10%;
  background-size: cover;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image-gradient div{
  margin-left: 10%;
}
.image-gradient button{
  height: 60px;
  width: 160px;
  background-color: white;
  border: none;
  border-radius: 10px;
  color: #F15B22;
  border: 1px solid #F15B22;
  font-size: 22px;
}
/* Footer */

.footer{
  background-color:black;
  color: white;
  height: 500px;
  padding-left: 11%;
  padding-right: 11%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-footer h1{
  font-size: 46px;
  font-weight: 701;
}
.left-footer p{
  font-size: 18px;
  font-weight: 399;
  margin-bottom: 21px;
}
.logo{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.right-footer h1{
  font-size: 45px;
  font-weight: 702;
}
.right-footer button{
  height: 62px;
  width: 159px;
  background-color: white;
  border: none;
  border-radius: 8px;
  color: #F15B22;
  border: 2px solid #f05316;
  font-size: 21px;
}
.right-footer input{
  height: 52px;
  width: 301px;
  border: none;
  border-radius: 11px;
  padding-left: 11px;
  margin-bottom: 18px;
  background-color: black;
  border: 1px solid white;
}

